<h1>Editing Registro</h1>

<%= render 'form', registro: @registro %>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light"><%= link_to 'Mostrar registro', @registro %> </button>
  <button type="button" class="btn btn-light"><%= link_to 'Regresar', registros_path %></button>
</div>

